{# Bind user sandbox to sandboxed user #}
--bind {{SANDBOXED_HOME}} {{DST_HOME}}
--chdir {{DST_HOME}}

{# Shared utils dir #}
--ro-bind-try /opt /opt

{# Extra env vars for proton and AMD #}
--setenv PROTON_NO_WM_DECORATION 1
--setenv PROTON_USE_NTSYNC 1
--setenv PROTON_FSR4_UPGRADE 1
--setenv PROTON_ENABLE_WAYLAND 1

--setenv RADV_PERFTEST nggc,gpl,sam,rt
--setenv RADV_ANTI_LAG 1

--setenv SDL_VIDEODRIVER wayland
--setenv GDK_BACKEND wayland
--setenv QT_QPA_PLATFORM wayland

--setenv MALLOC_ARENA_MAX 2
--setenv WINE_LARGE_ADDRESS_AWARE 1

{# Enable MANGOHUD by default #}
--setenv MANGOHUD 1

{# Avoid provided dbus global access to system settings #}
--setenv GSETTINGS_BACKEND keyfile

{% include 'base.j2' %}
{% include 'user.j2' %}
{% include 'xwayland.j2' %}