{# Share XWayland sockets, pre-create .X11-unix so it will have $USER as owner instead of root (nobody) #}
{# .11-unix owned by $USER or root is required for gamescope #}

--dir /tmp/.X11-unix
--bind /tmp/.X11-unix/X0 /tmp/.X11-unix/X0
--bind /tmp/.X11-unix/X0_ /tmp/.X11-unix/X0_