name: Rust tests

on:
  workflow_dispatch:
    inputs:
      pr_number:
        description: "Pull Request number to test"
        required: true
        type: string

jobs:
  build-checks:
    name: Build checks, audit and linting
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout PR
        uses: actions/checkout@v4
        with:
          ref: refs/pull/${{ inputs.pr_number }}/head

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libseccomp-dev

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: clippy

      - name: Cargo check
        run: cargo check --all-features

      - name: Cargo clippy
        run: cargo clippy --all-features

      - name: Cargo audit
        uses: rustsec/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  # Run tests on self-hosted runner to have access to slirp4netns, bwrap and etc
  full-tests:
    name: Build and Test (Self-hosted VPS)
    runs-on: [self-hosted, Linux, vps-03]
    timeout-minutes: 30
    needs: build-checks
    steps:
      - name: Checkout PR
        uses: actions/checkout@v4
        with:
          ref: refs/pull/${{ inputs.pr_number }}/head

      - name: Run tests (including slirp4netns and etc)
        run: |
          # Configure dbus for xdg-dbus-proxy support test
          export DBUS_SESSION_BUS_ADDRESS="unix:path=$XDG_RUNTIME_DIR/bus-$RANDOM"
          dbus-daemon --session --address="$DBUS_SESSION_BUS_ADDRESS" --fork

          cargo test --release
